# Configuration file

####################
# bull
####################

bull {
    S:biomegroups <BULL_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# cqnpc
####################

cqnpc {
    S:biomegroups <CQNPC_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# dummy
####################

dummy {
    S:biomegroups <DUMMY_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# entitypartslime
####################

entitypartslime {
    S:biomegroups <ENTITYPARTSLIME_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# giantzombie
####################

giantzombie {
    S:biomegroups <GIANTZOMBIE_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# greendragon
####################

greendragon {
    S:biomegroups <GREENDRAGON_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# mecha
####################

mecha {
    S:biomegroups <MECHA_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# mechaheavy
####################

mechaheavy {
    S:biomegroups <MECHAHEAVY_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# monking
####################

monking {
    S:biomegroups <MONKING_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# referee
####################

referee {
    S:biomegroups <REFEREE_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# slimeboss
####################

slimeboss {
    S:biomegroups <SLIMEBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# spiderboss
####################

spiderboss {
    S:biomegroups <SPIDERBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# summonedbait
####################

summonedbait {
    S:biomegroups <SUMMONEDBAIT_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# summonedundead
####################

summonedundead {
    S:biomegroups <SUMMONEDUNDEAD_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# turtleboss
####################

turtleboss {
    S:biomegroups <TURTLEBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


